<div class="container">
  <div class="row">

    <div class="col s12 m12 l12" style="border-bottom: 0.7px solid grey;">
      <h5>{{product.article}}:{{quantity}} - precio:{{product.price * quantity | number}}</h5>
    </div>

    <div class="col s12 m12 l12">
      <div class="row">

        <div class="col s2 m1 l1">
          <a class="btn-floating btn-small waves-effect waves-light red btn-floating"><i class="material-icons" id="add" (click)="add($event)">add</i></a>
        </div>

        <div class="col s2 m1 l1"  style="margin-left: -1.7%!important;">
          <a class="btn-floating btn-small waves-effect waves-light red btn-floating"><i class="material-icons" id="remove" (click)="add($event)">remove</i></a>
        </div>

        <div class="col s2 m1 l1">
          <a class="btn waves-effect waves-light red" style="height: 30px; margin-top: 21.7%;" (click)="tosell()">Vender</a>
        </div>

      </div>
    </div>

  </div>
</div>
